<% provide(:title, 'About') %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>About Tetris Pals</h1>
    <p>
      <%= link_to "tetris pals", root_path %>
		is the world leading arcade game networking site. Its inception in early 2013 was a university project by software engineer <a href="mailto:lightweightdevelopment@gmail.com?Subject=Hi%20Anthony">Anthony Troy</a>, 
		whose aim was provide a fun and safe gaming/networking platform for classmates
    </p>
	<p>
			needless to say, the rest is history!
	</p>
  </body>
</html>