<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
   please feel free to contact our <a href="mailto:support.tetrispals@gmail.com">support team</a> with any
   technical or business queries you may have
</p>