<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Help</h1>
    <p>
       tetris is conceptually simple, if you are encountering any difficulty in such please refrain from playing
	   and consider getting lessons
    </p>
  </body>
</html>